{
  "doubleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "printWidth": 120,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "proseWrap": "never",
  "importOrder": [
    "^(react|react-dom)$",
    "^prop-types$",
    "^(antd|@ant-design)$",
    "^(string-format)$",
    "^([a-z-]|@[a-z-])",
    ".*",
    "",
    "^(demo|src)/.*"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "jsxWrapAttributes": "force",
  "jsxWrapAttributesThreshold": 1,
  "jsxAttributeClosingParen": "new-line"
}
